# Both of these dependencies are for llm nodes. Sage Utils will check if they were imported, and
# will not show nodes that require them if they are not installed.
# If you want to use LLM nodes, you must install one of these, depending on your preference.

# LLM support is a work in progress, most nodes are not implemented yet, and ones that are are likely to be majorly revised.
ollama
#lmstudio
