# Both of these dependencies are for llm nodes. Sage Utils will check if they were imported, and
# will not show nodes that require them if they are not installed.
# If you want to use LLM nodes, you must install one of these, depending on your preference.

# LLM support is a work in progress, and subject to revision.
ollama>=0.5.1
lmstudio
dynamicprompts
