<div class="civitai-version-card{{latestClass}}">
    <div class="civitai-version-header">
        <div class="civitai-version-info">
            <h4 class="civitai-version-title">{{versionName}}</h4>
            <p class="civitai-version-subtitle">Released: {{createdAt}}</p>
            <div class="civitai-version-description"></div>
            <div class="civitai-trigger-words-group"></div>
            <div class="civitai-version-file-info"></div>
        </div>
        <div class="civitai-version-download-container"></div>
    </div>
    <div class="civitai-version-images"></div>
</div>
