<div class="models-v2-single-model-actions">
    <button id="models-v2-pull-btn" class="models-v2-button models-v2-button-secondary" data-test="pull-btn">Pull</button>
    <button id="models-v2-edit-btn" class="models-v2-button models-v2-button-secondary" data-test="edit-btn">Edit</button>
    <button id="models-v2-copy-hash-btn" class="models-v2-button models-v2-button-secondary">Copy Hash</button>
    <button id="models-v2-copy-path-btn" class="models-v2-button models-v2-button-secondary">Copy Path</button>
</div>
